/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  position: relative;
  min-height: 100%;
  background-image: url("./Background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(57, 57, 57);
  color: #fefefe;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: transparent;
  color: #fefefe;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cardLarge {
    width: 100%;
    min-width: 50%;
    margin:  0 auto;
    background-color: #252525;
    box-shadow: 0px 30px 40px #00000073;
    border-radius: 5px;
  }

  .card {
    width: 100%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #252525;
    box-shadow: 0px 30px 40px #00000073;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    min-width: 1000px;
    margin: 20px;
  }


  .cardLarge {
    width: 100%;
    min-width: 50%;
    margin: auto;
    background-color: #252525;
    padding: 20px;
    box-shadow: 0px 30px 40px #00000073;
    border-radius: 5px;
  }

  .card {
    width: 90%;
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #252525;
    padding: 20px;
    box-shadow: 0px 30px 40px #00000073;
    border-radius: 5px;
  }
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

span.primary {
  color: #7EEFF4;
  text-transform: uppercase;
}

span.secondary {
  color: #FE3F7D;
  text-transform: uppercase;
}


.answer-input {
  width: 100%;
  border-radius: 5px;
  background-color: #323232;
  color: #fff;
}

.answer-submit {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #7EEFF4;
  color: white;
  text-transform: uppercase;
}

.host-join-label {
  width: 50%;
}

.host-join-input {
  background-color: #323232;
  color: #fff;
  width: 100%;
}

.host-join-submit {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #7EEFF4;
  color: white;
  text-transform: uppercase;
}

.host-question-input {
  background-color: #323232;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  width: 100%;
}

.host-question-submit {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #7EEFF4;
  color: white;
  text-transform: uppercase;
}

.host-score-button {
  margin: auto 10px;
  width: 30%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #7EEFF4;
  color: white;
  text-transform: uppercase;
}

.host-score-button-alt {
  margin: auto;
  width: 30%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #FE3F7D;
  color: white;
  text-transform: uppercase;
}

.host-score-input {
  background-color: #323232;
  color: #fff;
  border-radius: 5px;
  width: 25%;
}

.host-delete {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #FE3F7D;
  color: white;
  text-transform: uppercase;
}



table.hostScore {
  width: 100%;
  overflow: scroll;
  display: block;
}

th.hostScore {
  text-transform: uppercase;
  min-width: fit-content;
  width: 10%;
  margin: 150px;
}

td.hostScore {
  min-width: fit-content;
  width: 10%;
  margin: 150px;
}

hr {
  border: 1px solid white;
}



.modal {
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(14, 14, 14);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(57, 57, 57);
  width: 80%;
}

.toast {
  background-color: #FE3F7D;
  width: 100%;

}
.toast-error {
  color: red;
}