@{
    ViewData["Title"] = "Host Page";
}



<script src="~/js/angular.min.js"></script>
<script src="~/js/site.js"></script>

<div ng-app="hostApp" ng-controller="indexController" ng-init="state='home'">

    <div ng-show="state=='home'" class="card">

        <h3 class="host-join-label">Edit Game</h3>
        <select name="selectedGameId" id="selectedGame" ng-model="selectedGame.gameId" class="host-join-input">
            <option ng-repeat="game in games" value="{{game.gameId}}">{{game.name}}</option>
        </select>
        <br/>
        <button ng-click="loadGame()" class="host-join-submit">Edit</button>

        <br/> <br/>
        <hr/>
        <br/><br/>

        <h3 class="host-join-label">Create Game</h3>
        <input ng-model="selectedGame.name" class="host-join-input"/>
        <br/>
        <button ng-click="createGame()" class="host-join-submit">Create</button>
    </div>

<div ng-show="game!=null">
    <h1>{{game.metadata.name}}</h1>
    <p>
        <h2>
            <a ng-click="state='questions'" href="#" >Edit Questions</a> | 
            <a ng-click="state='score'" href="#" class="state=='score'? 'tabSelected' : ''">Score Questions</a></p>
        </h2>
        <hr/>
</div>


<div style="width: 75%;" ng-controller="questionController" ng-show="$parent.state=='questions'" class="card">
    <form method="POST">
    <h2>Game Name </h2>
    <input class="host-question-input" ng-model="$parent.game.metadata.name" />
    <hr/>
    <br/>
        <label>Round</label>
        <select class="host-score-input" ng-model="roundNum" ng-init="roundNum='1'">
            <option ng-repeat="(key,value) in $parent.roundNames" value="{{key}}">{{value}}</option>
        </select>
        <br/>
        <table style="width:100%;">
            <tr>
                <th style="width:10%; margin:15px;">Number</th>
                <th style="width:30%; margin:15px;">Category</th>
                <th style="width:40%; margin:15px; ">Quetion</th/>
            </tr>
            

        <tr ng-repeat="question in $parent.game.questions |filter:{round: roundNum}" style="margin:15px">
            <td>{{question.number}}</td>
            <td><input class="host-question-input" ng-model="question.category"/></td>
            <td><input class="host-question-input" ng-model="question.text"/></td>
        </tr>
    </table>
    <br/>
    <input type="button" value="Save" ng-click="submit($parent.game)" class="host-question-submit"/> <br/><br/>
    </form>
</div>


 <div ng-controller="scoreController" ng-show="$parent.state=='score'" class="card">
        <div>
            
            <h4> Current Round: {{roundNames[game.metadata.currentRound]}}</h4>            
            <h4> Current Question: {{game.metadata.currentQuestion}}</h4>
            <!--<h4> Question Text: {{game.rounds[1].questions[2].text}}</h4>-->

           <!-- 
            <label>Current Round</label>
            <select ng-model="selectedRound">
                <option ng-repeat="(round, questions) in game.questions | groupBy: 'round'" value="">{{roundNames[round]}}</option>
            </select>
            
            <label>Current Question</label>
            <select ng-model="selectedQuestion">
                <option ng-repeat="question in game.rounds[1].questions" value="{{question.number}}">{{question.number}}</option>
            </select>
            -->
            <select ng-model="selectedQuestion" class="host-score-input">
                <option ng-repeat="question in game.questions" value="{{question}}">{{$parent.roundNames[question.round]}} Question {{question.number}}</option>
            </select>
            <button class="host-score-button" ng-click="setCurrentQuestion(selectedQuestion)">Update</button>
        </div>

        <hr/>
        <br/>

        <button class="host-score-button" ng-click="reload(game)">Refresh</button> <button class="host-score-button" ng-click="updateScores(playerAnswers)">Update Scores</button>
    <table>
        <tr>
            <th class="score">Round Number</th>
            <th class="score">Question Number</th>
            <th class="score">Player Name</th>
            <th class="score">Answer</th>
            <th class="score">Wager</th>
            <th class="score">Correct?</th>
            <th class="score">Points Awarded</th>
        </tr>

        <tr ng-repeat="answer in playerAnswers | filter: {questionNumber: game.metadata.currentQuestion, round: game.metadata.currentRound}" ng-class="answer.questionNumber % 2 == 0 ? 'score-row':''" >
                <td>{{$parent.roundNames[answer.round]}}</td>
                <td>{{answer.questionNumber}}</td>
                <td>{{answer.player.name}}</td>
                <td>{{answer.answerText}}</td>
                <td>{{answer.wager}}</td>
                <td>
                    <select name="Wager" ng-model="correct" ng-change="playerScoreChanged(answer, correct)" 
            
                        ng-options="val for val in ['Correct', 'Incorrect', 'Partial']">
                    </select> 
                </td>
                <td>
                    <input ng-disabled="correct != 'Partial'" ng-model="answer.pointsAwarded" />
                    
                </td>
        </tr>

    </table>
 </div>

 <div id="myModal" class="modal" ng-controller="modal" ng-show="show">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" ng-click="show=false">&times;</span>
    <p>{{text}}</p>
  </div>

</div>

</div>
