<script src="~/js/angular.min.js"></script>
<script src="~/js/site.js"></script>
<div>


<div style="width: 75%;" ng-app="questionsApp" ng-controller="myCtrl">



    <form method="POST">
    <h2>Game Name {{game.metadta.name}}</h2>
    <input ng-model="game.metadata.name" />
    <hr/>
    <br/>

    <div ng-repeat="round in game.rounds">
        <h3>Round {{round.round}}</h4>
        <div style="margin-left:20px; width: 75%;" ng-repeat="question in round.questions">
            <h4>Question {{question.number}}</h4>
            <input ng-model="question.text"/>
        </div>
        <hr/>
        <br/>

    </div>
    <input type="button" value="Save" ng-click="submit()" /> <br/><br/>
    <label style="width: 100%; background: green; color:white" ng-show="saved">Saved</label>
    </form>
</div>

</div>
