<script src="~/js/angular.min.js"></script>
<script src="~/js/site.js"></script>
<div ng-app="hostApp">

<div style="width: 75%;" ng-controller="questionController">



    <form method="POST">
    <h2>Game Name {{game.metadta.name}}</h2>
    <input ng-model="game.metadata.name" />
    <hr/>
    <br/>

    <div ng-repeat="round in game.rounds">
        <h3>Round {{round.round}}</h4>
        <div style="margin-left:20px; width: 75%;" ng-repeat="question in round.questions">
            <h4>Question {{question.number}}</h4>
            <input ng-model="question.text"/>
        </div>
        <hr/>
        <br/>

    </div>
    <input type="button" value="Save" ng-click="submit()" /> <br/><br/>
    <label style="width: 100%; background: green; color:white" ng-show="saved">Saved</label>
    </form>
</div>

 
<table ng-controller="scoreController">

<tr>
    <th class="score">Round Number</th>
    <th class="score">Question Number</th>
    <th class="score">Player Name</th>
    <th class="score">Answer</th>
    <th class="score">Wager</th>
    <th class="score">Correct?</th>
    <th class="score">Points Awarded</th>
</tr>

<tr ng-repeat="answer in data" >
        <td>{{answer.round}}</td>
        <td>{{answer.questionNumber}}</td>
        <td>{{answer.player.name}}</td>
        <td>{{answer.answerText}}</td>
        <td>{{answer.wager}}</td>
        <td>
            <select name="Wager" ng-model="answer.correct">
                <option ng-repeat="val in ['Correct', 'Incorrect', 'Partial']" value="{{val}}">{{val}}</option>
            </select> 
        </td>
        <td>
            <input ng-disabled="answer.correct != 'Partial'" ng-model="answer.pointsAwarded" 
            
        </td>
</tr>

</table>

</div>