<h4> <span class="secondary"> Currently Showing </span>test</h4>
<div class="card-container">
    <button class="button">Show Pre Question</button>
    <button class="button">Show Question</button>
    <button class="button">Show Question</button>
    <button class="button">Show Answer</button>
    <button class="button" class="button">Show Results</button>
</div>
<app-question></app-question>
<h4> <span class="primary"> Answer </span>test</h4>
<select class="host-score-input" onChange="">
    <option value="test">R Q
    </option>
    )}
</select>
<button class="button" onClick="">Update Current Question</button>
This will set the state to Pre-Question