<script src="~/js/angular.min.js"></script>
<script src="~/js/site.js"></script>
<div ng-app="playApp">
    <div ng-controller="myQuestionCtrl">


    <h3>Round {{question.round}} Question {{question.number}} </h3>
    <h2>{{question.text}}</h2>

    <form method="POST">
        <label>Answer</label>
        <br/>
        <input name="AnswerText" />
        <br/><br/>

        <label>Wager</label>
        <br/>
        <select name="Wager">
            <option ng-repeat="val in range(1,6)" value="{{val}}">{{val}}</option>
        </select>
        <br/><br/>
        <input type="hidden" value="@Model.Round" name="Round"/>
        <input type="hidden" value="@Model.Number" name="QuestionNumber"/>
        <input type="submit"/>
    </form>
    </div>
</div>
