
<div>

	<div ng-app="playApp" ng-controller="myCtrl" ">
		<h2>{{player.name}} | <span color="secondary">{{selectedGame.name}}</span></h2>

		<div ng-controller="setupController" ng-show="$parent.state=='Join'" class="card">
			<form method="POST" class="answer-container">
				<h3 class="host-join-label">Choose a Game:</h3>

				<select ng-model="selectedGame" class="answer-input">
					<option ng-repeat="game in games" value="{{game}}">{{game.name}}</option>
				</select>
				<br />

				<h3 class="host-join-label">Name: </h3>
				<input ng-model="player.name" class="answer-input" />

				<br />
				<br />
				<input type="submit" value="Join" ng-click="join(selectedGame, player)" class="answer-submit" />
			</form>
		</div>

		<div ng-controller="questionController" ng-show="$parent.state=='Answer'" class="card">


			<h4><span class="secondary">Round</span> {{$parent.roundNames[question.round]}} <span class="secondary">Question</span> {{question.number}} </h4>
			<h2><span class="primary">Category</span> {{question.category}}</h2>
			<h2><span class="primary">Question</span> {{question.text}}</h2>

			<form method="POST" class="answer-container">
				<label>Answer</label>
				<br />
				<input name="AnswerText" ng-model="answer.answerText" class="answer-input" />
				<br /><br />

				<label>Wager</label>
				<br />
				<input type="number" ng-model="answer.wager" class="answer-input" min="1" max="6"/>
				<br /><br /> 
				<input type="submit" ng-click="submitAnswer(answer)" class="answer-submit" />
			</form>
		</div>

		<br />
		<div ng-controller="playerResults" ng-show="show" class="card">
			<h3><span class="primary">Your Score</span> {{score}}</h3>
			<table class="playerScores">
				<tr style="width:100%;">
					<td class="playerScores">Question</td>
					<td ng-repeat="result in scores" class="playerScores"> R {{$parent.shortRoundNames[result.round]}} Q{{result.questionNumber}}</td>
				</tr>
				<tr style="width:100%">
					<td class="playerScores">Points Awarded</td>
					<td ng-repeat="result in scores" class="playerScores"> {{result.pointsAwarded}} </td>
				</tr>
			</table>

		</div>
		<br/>


    <div ng-controller="resultsController" ng-show="show" class="card">

		<h2><span class="secondary">Final Results</span></h2>
        <div class="card">
            <h3><span class="primary">Summary</span></h3>
            <table class="playerScores">
                <tr>
                    <th class="playerScores">Name</th>
                    <th class="playerScores">Score</th>
                </tr>
                <tr ng-repeat="playerData in results">
                    <td class="playerScores">{{playerData.player.name}}</td>
                    <td class="playerScores">{{playerData.totalScore}}</td>
                </tr>
            </table>
        </div>
        <br />

        <div class="card">
            <h3> <span class="primary">Score Breakdown</span></h3>
            <table class="playerScores">
                <tr style="width:100%;">
                    <td class="playerScores">Question</td>
                    <td ng-repeat="result in results[0].playerAnswers" class="playerScores"> R {{result.round}} Q{{result.questionNumber}}
                    </td>
                </tr>
                <tr style="width:100%" ng-repeat="playerData in results">
                    <td class="playerScores">{{playerData.player.name}}</td>
                    <td ng-repeat="result in playerData.playerAnswers" class="playerScores"> {{result.pointsAwarded}}
                    </td>
                </tr>
            </table>
        </div>
        <br/>

    </div>




		<div id="myModal" class="modal" ng-controller="modal" ng-show="show">

			<!-- Modal content -->
			<div class="modal-content">
				<span class="close" ng-click="show=false">&times;</span>
				<p>{{text}}</p>
			</div>

		</div>

 

	</div>
</div>