@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div style="width: 100%;">
        <div style="width:45%; float:left;">
            <p><a asp-area="" asp-controller="Host" asp-action="Index"><h2>Host a Game</h2></a></p>
        </div>
        <div style="width:45%; float: left;">
            <p><a  asp-area="" asp-controller="Play" asp-action="Index"><h2>Join a Game</h2></a></p>
        </div>
</div>
