@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Host" asp-action="Index"><h2>Host a Game</h2></a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Play" asp-action="Index"><h2>Join a Game</h2></a></p>
</div>
